@model AdvertisementApp.Core.ViewModels.AdvertisementViewModel


@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Advertisement", "Advertisement", new { enctype = "multipart/form-data" }))
{
    <p class="alert alert-info mt-4 mb-4">Pola tytuł, opis, cena i kategoria są <strong>wymagane</strong></p>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Advertisement.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.Title)
        @Html.TextBoxFor(x => x.Advertisement.Title,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Advertisement.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.Description)
        @Html.TextBoxFor(x => x.Advertisement.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Advertisement.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.Price)
        @Html.TextBoxFor(x => x.Advertisement.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Advertisement.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.CategoryId)
        @Html.DropDownListFor(x => x.Advertisement.CategoryId,
            new SelectList(Model.Categories, "Id", "Name"),
            "--wybierz kategorię--",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Advertisement.CategoryId)
    </div>

    <div>
        <div class="custom-file">
            <input asp-for="Advertisement.FrontImage"
                   class="custom-file-input"
                   id="FLFrontImage"
                   onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" />
            <label class="custom-file-label" for="FLFrontImage">wybierz zdjęcie</label>
        </div>

        <img id="FrontImagePrv" src="" alt="Zdjęcie" 
             width="150" 
             height="150"
             style="border: 1px; margin-top: 20px; margin-left: 100px;"/>

    </div>


    <button type="submit"
            class="btn btn-primary btn-lg mt-2">
        Zapisz
    </button>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        @*$(".custom-file-input").on("Advertisement", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });*@

    </script>

}
