@model AdvertisementApp.Core.ViewModels.AdvertisementViewModel


@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Advertisement", "Advertisement"))
{
    <p class="alert alert-info mt-4 mb-4">Pola tytuł, opis i kategoria są <strong>wymagane</strong></p>


    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Advertisement.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.Title)
        @Html.TextBoxFor(x => x.Advertisement.Title,
            new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.Advertisement.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.Description)
        @Html.TextBoxFor(x => x.Advertisement.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Advertisement.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Advertisement.CategoryId)
        @Html.DropDownListFor(x => x.Advertisement.CategoryId, 
            new SelectList(Model.Categories, "Id", "Name"),
            "--wybierz kategorię--",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Advertisement.CategoryId)
    </div>

    <button type="submit"
            class="btn btn-primary btn-lg mt-2">Zapisz</button>
}
